html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
    font-family: raleway, Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
h1, h2 {
    font-weight: bold;
    font-size: 5.5em;
}
h3 {
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 2%;
}
li {
    font-size: 3.5em;
    font-weight: normal;
    list-style: none;
}
p {
    font-size: 3.5em;
    font-weight: normal;
    margin-bottom: 2%;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    padding: 0;
}
.fa-star {
    color: #0065FC;
    font-size: 3em;
}
/*header*/
.only-desktop {
    display: none;
}
.subscribe a {
    text-decoration: none;
    font-weight: bold;
    font-size: 4em;
    color: #0065FC;
}
.container-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 5% 0% 5%;
}
.logo img {
    width: 200px;
}
.container-nav ul {
    display: flex;
    padding: 0;
}
.container-nav li {
    width : 50%;
    text-align: center;
    padding-bottom: 3%;
    border-bottom: 5px solid #F2F2F2;
}
.container-nav li:nth-child(1) {
    border-bottom: 5px solid #0065FC;
}
.container-nav li:nth-child(1) a {
    color: #0065FC;
}
/*search section*/
.search {
    padding: 0 5% 0 5%;
}
.filters p {
    font-weight: bold;
    font-size: 4em;
    margin-bottom: 2%;
}
.filters span {
    font-size: 3.5em;
    font-weight: bold;
}
.filters i {
    color: #0065FC;
    font-size: 3em;
}
.filter {
    border: 2px solid #F2F2F2;
}
.info {
    display: flex;
}
.info i {
    color: #0065FC;
    font-size: 1.5em;
    padding-left: 10px;
    padding-top : 5px;
}
.info .circle {
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 1%;
}
/*main*/
/*popular section*/
.popular {
    background-color: #F2F2F2;
}
.container-popular-cards {
    padding: 5% 5% 5% 5%;
}
.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5% 5% 0 5%;
}
.popular-title i {
    font-size: 5.5em;
}
.container-popular-cards .card  {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    height: 350px;
    background-color: white;
    margin-bottom: 2%;
    box-shadow:10px 10px 20px #6b6b6b41;
    padding: 10px;
}
.container-popular-cards .card-text {
    width: 60%;
    background-color: white;
    border-radius: 0px 30px 30px 0;
    text-align: left;
    padding: 5%;
}
.container-popular-cards .two .card-text i:nth-last-child(1) {
    color: #F2F2F2;
}
.container-popular-cards .three .card-text i:nth-last-child(1) {
    color: #F2F2F2;
}
.container-popular-cards .one .card-img {
    width: 40%;
    border-radius: 30px 0 0 30px;
    background: url("./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-position: center;
}
.container-popular-cards .two .card-img {
    width: 40%;
    border-radius: 30px 0 0 30px;
    background: url("./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-position: center;
}
.container-popular-cards .three .card-img {
    width: 40%;
    border-radius: 30px 0 0 30px;
    background: url("./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-position: center;
}
/*lodging*/
#lodging {
    padding: 5% 5% 5% 5%;
}
#lodging a {
    font-size: 4em;
    font-weight: bold;
}
#lodging h2 {
    margin-bottom: 5%;
}
.container-lodging-cards .card  {
    border-radius: 30px;
    height: 500px;
    background-color: white;
    margin-bottom: 2%;
    box-shadow:10px 10px 20px #6b6b6b41;
    padding: 10px;
}
.container-lodging-cards .card-text {
    background-color: white;
    border-radius: 0px 30px 30px 0;
    text-align: left;
    padding-left: 3%;
    padding-top: 2%;
}
.container-lodging-cards .one .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-position: center;
}
.container-lodging-cards .two .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-position: center;
}
.container-lodging-cards .three .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-position: center;
}
.container-lodging-cards .four .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-position: center;
}
.container-lodging-cards .five .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-position: center;
}
.container-lodging-cards .six .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-position: center;
}
/*activities*/
#activities a {
    font-size: 4em;
    font-weight: bold;
}
#activities {
    padding: 0 5% 0 5%;
}
.container-activities-cards .card  {
    border-radius: 30px;
    height: 500px;
    background-color: white;
    margin-bottom: 2%;
    box-shadow:10px 10px 20px #6b6b6b41;
    padding: 10px;
}
.container-activities-cards .card-text {
    background-color: white;
    border-radius: 0px 30px 30px 0;
    text-align: left;
    padding-left: 3%;
    padding-top: 2%;
}
.container-activities-cards .one .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-position: center;
}
.container-activities-cards .two-small .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-position: center;
}
.container-activities-cards .three-small .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-position: center;
}
.container-activities-cards .four .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-position: center;
}
.container-activities-cards .five-small .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-position: center;
}
.container-activities-cards .six-small .card-img {
    height: 60%;
    border-radius: 30px 30px 0px 0px;
    background: url("./images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}
/*footer*/
footer {
    background: #F2F2F2;
    padding: 9% 5% 5% 5%;
}
footer div {
    margin-bottom: 9%;
}
footer h3 {
    margin-bottom: 6%;
}
footer li {
    margin-bottom: 3%;
}